@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');
@font-face {
  font-family: 'OpenSans';
  src: url('../src/tools/font/Nunito-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'nunito';
  src: url('../src/tools/font/static/Nunito-ExtraBold.ttf');
}

:root{
  --bs-danger: #ff0000;
  --bd-danger-dark: #ec1111;
}
.add{
  display:block;
}
.outline{
  outline: 1px solid silver;
}
.outline1{
  outline: 1px solid silver;
}
.outline1:hover{
  outline: 2px solid var(--bs-primary);
  cursor: default;
}
.p-light{
  margin-left: 12.5em;
  cursor: pointer;
  outline: 1px solid silver;
}
.p-light:hover{
  outline: 2px solid var(--bs-warning);
}
.p-dark{
  margin-top: 2.3em;
  margin-left: 12.5em;
  cursor: pointer;
  outline: 1px solid silver;
}
.p-dark:hover{
  outline: 2px solid var(--bs-info);
}
.menu {
  display: none;
}
.nav-active {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500; 
}
.nav-active::before {
  content: "";
  height: 2.5px;
  width: 3em;
  background: var(--bs-danger);
  border: none;
  position: absolute;
  border-radius: 17px;
  bottom: 30%;
  left: 51%;
  transform: translateX(-50%);
  z-index: 999;
}
.nav-active1 {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500; 
}
.nav-active1::before {
  content: "";
  height: 2.5px;
  width: 3em;
  background: var(--bs-danger);
  border: none;
  position: absolute;
  border-radius: 17px;
  bottom: 30%;
  left: 31%;
  transform: translateX(-50%);
  z-index: 999;
}
.nav-active2 {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500; 
}
.nav-active2::before {
  content: "";
  height: 2.5px;
  width: 3em;
  background: var(--bs-danger);
  border: none;
  position: absolute;
  border-radius: 17px;
  bottom: 5%;
  left: 19.7%;
  transform: translateX(-50%);
  z-index: 999;
}
.mobile-active {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500;
 
}
.mobile-active::before {
  content: "";
  height: 0.5em;
  width: 0.5em;
  background: var(--bs-danger);
  border: none;
  position: absolute;
  border-radius: 50%;
  bottom: 65%;
  left: 37%;
  transform: translateX(-50%);
  z-index: 999;
}
.nav_mobile{
  display: none;
}
#nav_pc{
  display: block;
 }
/* mobile */
@media (max-width:640px) {
     #nav_pc{
      display: none;
     }
    .nav_mobile{
      display: block;
      margin-top: 3em;
    }
    .nav_mobile p i{
      font-weight: bold;
      background:  none;
    }
    #list{
      font-size: 2em;
      position: fixed;
      margin: -0.7em -1em;
      cursor: pointer;
    }
    #close{
      position: fixed;
      margin: -0.9em -1.2em;
      cursor: pointer;
    }
    .nav-4{
       margin-left: -1.3em;
    }
    .mobile_list{
      position: absolute;
      left: 30%;
      top: 90%;
    }
    /* body_home mobile */
    .Body-homes{
      height:70vh;
    }
    .section-home{
      margin-top: -3em;
    }
    .image-user, #Calque_1{
      display: none;
    }
    /* main_home mobile */
    .Main_Accueil{
      width: 95%;
    }
    .services-sections{
      display: flex;
      flex-direction: column;
    }
    .services-sections :is(.services-article, .services-article1, .services-article2,.services-article3){
      max-width: 52em;
      transform: scale(99.5%);
      margin-left: -7.3em;
    }

    /* SKILLS */
    #skills-main{
      display: flex;
      flex-direction:column;
    }
    #skills-section1{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 3rem !important;
      width: 100%;
      margin-left: -2em;
    }
    .skills-skills{
      padding: 2em;
    }
    #skills-section2{
      width: 100%;
    }
 
}
.dark-mode .mobile_list{
  background: var(--bs-dark);
}
.dark-mode .mobile_list article:nth-child(1) p{
  background: var(--bs-dark);
}
.dark-mode .mobile_list article:nth-child(1) p:hover{
  background: var(--bs-gray-700);
}
.mobile_list{
  background: var(--bs-light);
  padding: 15px;
  border-radius: 0.7em;
  width:60%;
  overflow: hidden;
}
.mobile_list article:nth-child(1) p{
  background: var(--bs-gray-100);
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.mobile_list article:nth-child(1) p:hover{
  background: var(--bs-gray-400); 
  padding: 6px;
  border-radius: 4px;
}
.dark-mode .translate{
  background: var(--bs-dark);
}
.dark-mode .translate article p{
  background: var(--bs-dark);
  color: var(--bs-info);
}
.dark-mode .translate article p:hover{
  background: var(--bs-gray-700);
}
.dark-mode #translate_icon{
  color: var(--bs-info);
}
#translate_icon{
  color: var(--bs-primary);
}
.translate{
  background: var(--bs-light);
  padding: 15px;
  border-radius: 0.3em;
  overflow: hidden;
  margin-left: -5.5em;
  position: absolute;
  margin-top: 2.9em;
  outline: 1px solid var(--bs-gray-400);
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 3px;
}
.translate article p{
  background: var(--bs-gray-100);
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  outline: 1px solid var(--bs-gray-400);
  padding-inline: 1em;
  color: var(--bs-primary);
}
.translate article p:hover{
  background: var(--bs-gray-200); 
  padding: 6px;
  border-radius: 4px;
  padding-inline: 1em;
}
.hr{
  width: 5em;
}
.out{
  outline: 2px solid var(--bs-danger);
}
#sun{
  display: none;
}
.stars{
  margin-left: 9.1em;
}
.name{
  font-family: 'nunito';
}
.para-line {
  position: relative;
  color: var(--bs-danger);
}
.para-line::before {
  content: "";
  height: 2px;
  width:2em;
  background: var(--bs-danger);
  position: absolute;
  border-radius: 17px;
  bottom: -6%;
  left: 34%;
  transform: translateX(-50%);
  z-index: 999;
  opacity: 0.9;
}


/* PopupWithLink.css */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Arrière-plan semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Pour s'assurer que le pop-up est au-dessus du reste du contenu */
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.popup a {
  color: #007bff; /* Couleur du lien actif */
  text-decoration: none;
}

.popup a:hover {
  text-decoration: underline; /* Soulignement au survol du lien */
}

button {
  margin-top: 10px;
  cursor: pointer;
}

.loading{
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 9999;
  text-align: center;
 background: transparent;
 backdrop-filter: brightness(90%);
}
.loading picture img{
  width: 10em;
  height: auto;
  background: transparent;
  border-radius: 50%;
  padding: 0.4em;
  margin-top: 9em;
}
