@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');
@font-face {
  font-family: 'OpenSans';
  src: url('../src/tools/font/Nunito-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'nunito';
  src: url('../src/tools/font/static/Nunito-ExtraBold.ttf');
}

:root{
  --bs-danger: #ff0000;
  --bd-danger-dark: #ec1111;
}
.add{
  display:block;
}
.outline{
  outline: 1px solid silver;
}
.outline1{
  outline: 1px solid silver;
}
.outline1:hover{
  outline: 2px solid var(--bs-primary);
  cursor: default;
}
.p-light{
  margin-left: 12.5em;
  cursor: pointer;
  outline: 1px solid silver;
}
.p-light:hover{
  outline: 2px solid var(--bs-warning);
}
.p-dark{
  margin-top: 2.3em;
  margin-left: 12.5em;
  cursor: pointer;
  outline: 1px solid silver;
}
.p-dark:hover{
  outline: 2px solid var(--bs-info);
}
.menu {
  display: none;
}
.nav-active {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500; 
}
.nav-active::before {
  content: "";
  height: 2.5px;
  width: 3em;
  background: var(--bs-danger);
  border: none;
  position: absolute;
  border-radius: 17px;
  bottom: 30%;
  left: 51%;
  transform: translateX(-50%);
  z-index: 999;
}
.nav-active1 {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500;
 
}
.nav-active1::before {
  content: "";
  height: 2.5px;
  width: 3em;
  background: var(--bs-danger);
  border: none;
  position: absolute;
  border-radius: 17px;
  bottom: 3%;
  left: 51%;
  transform: translateX(-50%);
  z-index: 999;
}
.nav_mobile{
  display: none;
  transition: 0.3s;
}
.nav_mobile:hover{
  filter: brightness(88%);
}
/* mobile */
@media (max-width:640px) {
    .nav-section{
      visibility: hidden;
    }
    .nav_mobile{
      display: block;
      z-index: 9999;
      position: fixed;
      left: 88%;
      font-size: 2em;
      cursor: pointer;
      margin-top: 0.2em;
    }
    .nav_mobile p i{
      font-weight: bold;
      background:  none;
    }
}
.hr{
  width: 5em;
}
.out{
  outline: 2px solid var(--bs-danger);
}
#sun{
  display: none;
}
.stars{
  margin-left: 9.1em;
}
.name{
  font-family: 'nunito';
}
.para-line {
  position: relative;
  color: var(--bs-danger);
}
.para-line::before {
  content: "";
  height: 2px;
  width:2em;
  background: var(--bs-danger);
  position: absolute;
  border-radius: 17px;
  bottom: -6%;
  left: 34%;
  transform: translateX(-50%);
  z-index: 999;
  opacity: 0.9;
}
