@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');
@font-face {
  font-family: 'OpenSans';
  src: url('../src/tools/font/Nunito-VariableFont_wght.ttf');
}
/* Styles pour le mode sombre */
.dark-mode{
  background-color: #141414;
  color: white;
  transition: 0.4s;
}
.dark-mode1{
  background-color: var(--bs-body-secondary);
  color: #141414;
}


/* Personnalisez les styles de Bootstrap pour le mode sombre si nécessaire */
.dark-mode .navbar {
  background-color: #141414;
  transition: 0.4s;
}

.add{
  display:block;
}
.outline{
  outline: 1px solid silver;
}
.outline1{
  outline: 1px solid silver;
}
.outline1:hover{
  outline: 2px solid var(--bs-primary);
  cursor: default;
}
.p-light{
  margin-left: 12.5em;
  cursor: pointer;
  outline: 1px solid silver;
}
.p-light:hover{
  outline: 2px solid var(--bs-warning);
}
.p-dark{
  margin-top: 2.3em;
  margin-left: 12.5em;
  cursor: pointer;
  outline: 1px solid silver;
}
.p-dark:hover{
  outline: 2px solid var(--bs-info);
}
.menu {
  display: none;
}
.nav-active {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500;
}
.nav-active::before {
  content: "";
  height: 3.9px;
  width:3.8em;
  background: var(--bs-danger);
  position: absolute;
  border-radius: 17px;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  transition: 2s;
}
.nav-active::after {
  content: "";
  height: 3.7px;
  width: 0;
  background: var(--bs-danger);
  position: absolute;
  border-radius: 17px;
  bottom: -0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  animation: ligne 1.5s linear infinite;
}
@keyframes ligne{
  0%{
    width: 0;
  }
  100%{
    width: 2em;
  }
}
.nav_mobile{
  display: none;
  transition: 0.3s;
}
.nav_mobile:hover{
  filter: brightness(88%);
}
/* mobile */
@media (max-width:640px) {
    .nav-section{
      visibility: hidden;
    }
    .nav_mobile{
      display: block;
      z-index: 9999;
      position: fixed;
      left: 88%;
      font-size: 2em;
      cursor: pointer;
      margin-top: 0.2em;
    }
    .nav_mobile p i{
      font-weight: bold;
      background:  none;
    }
}
.hr{
  width: 5em;
}
.out{
  outline: 2px solid var(--bs-danger);
}
#sun{
  display: none;
}
.stars{
  margin-left: 9.1em;
}